*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.firstContainer{
    background-image: url('/Assets/Images/COFFEE.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.orangeColor{
    background-color: rgb(255, 75, 50);
}
.orangText{
    color: rgb(255, 75, 50);

}
.childdiv{
    height: 50px;
    width: 50px;
    background-color: rgb(201, 197, 197);
    border-radius: 50%;
    border: 1px solid black;
}
#div2{
    margin-left: -15px;
}
#div3{
    margin-left: -15px;
}
#div4{
    margin-left: -15px;
}
#div5{
    margin-left: -15px;
}
.reviewDiv{
    min-width: 140px;
    max-width: 160px;
    max-height: 80px;
    z-index: 2;
}
.reviewP{
    font-size: 10px;
}
.grayDiv{
    background-color: rgb(158, 155, 155);
    min-width: 300px;
    max-width: 350px;
    min-height: 300px;
    margin-left: -100px;
    margin-top: 5px;
    z-index: 1;
    clip-path: polygon(30% 0, 100% 0, 80% 40%, 0 40%);
    
}
.arabicaDiv{
    clip-path: polygon(6% 0, 80% 0%, 65% 43%, 0 44%);
    border-radius:10px;
    margin-left: -60px;
    margin-top: 30px;
    min-width: 300px;
    max-height: 200px;
}
@media screen and (max-width:595px){
    .grayDiv{
        min-width: 200px;
        max-width: 350px;
        min-height: 250px;
    }
    .arabicaDiv{
        
        min-width: 220px;
        max-height: 230px;
    }
}
@media screen and (max-width:425px){
    .reviewDiv{
        min-width: 100px;
        max-width: 100px;
        font-size: 10px;
        max-height: 85px;
        z-index: 2;
        margin-top: 34px;
        margin-right: -20px;
    }
    .grayDiv{
        min-width: 130px;
        max-width: 140px;
        min-height: 220px;
        margin-top: 10px;
        margin-left: -90px;
    }
    .arabicaDiv{
        
        min-width: 220px;
        max-height: 230px;
        font-size: 10px;
        text-align:right;
    
    }
}

.secondContainer{
background-color: #f3f3f3;
}
.coffeCard1{
    max-height: 400px;
}

/* slider css start*/
.firstTextDiv{
    position: relative; 
    width: 100%; 
    padding: 20px;
}

.carousel-control-prev1{
    position: absolute; 
    top: -8%; 
    margin-left: 75%;
    transform: translateY(-50%);
    border: none;
}
  
  .carousel-control-next1{
    position: absolute; 
    top: -8%; 
    margin-left: 85%;
    transform: translateY(-50%);
    border: none;
  }
@media screen and (max-width:768px) {
    .carousel-control-prev1{
        position: absolute; 
        top: 105%; 
        margin-left: 34%;
        transform: translateY(-50%);
        border: none;
        background-color: white;
    }
      
      .carousel-control-next1{
        position: absolute; 
        top: 105%; 
        margin-left: 58%;
        transform: translateY(-50%);
        border: none;
        background-color: white;
      }
}
  /* line indicators buttons */
  .carousel-indicators {
    position: absolute;
    bottom: -90px; 
    left: 35%; 
    transform: translateX(-50%); 
    z-index: 10; 
  }
  
  
  
.bestSellerCard{
    min-width: 250px;
    max-width: 300px;
    box-shadow:1px 1px 10px rgb(181, 176, 176);
}

/* second slider css start */
.secContCard{
    min-width: 250px;
    max-width: 300px;
    box-shadow:1px 1px 10px rgb(181, 176, 176);
}
.secTextDiv{
  position: relative; 
  width: 100%; 
  padding: 20px;
}
.carousel-control-prev{
  position: absolute; 
  top: -20%; 
  margin-left: 70%;
  transform: translateY(-50%);
}

.carousel-control-next{
  position: absolute; 
  top: -20%; 
  margin-right: 5%;
  transform: translateY(-50%);
}

@media screen and (max-width:768px) {
    .carousel-control-prev{
        position: absolute; 
        top: 108%; 
        margin-left: 30%;
        transform: translateY(-50%);
        border: none;
        background-color: white;
    }
      
      .carousel-control-next{
        position: absolute; 
        top: 108%; 
        margin-right: 30%;
        transform: translateY(-50%);
        border: none;
        background-color: white;
      }
}
/* second slider css end */

/* third container css start */
.thirdConTextDiv{
    position: relative; 
    width: 100%; 

}
.carousel-control-prev3{
    position: absolute; 
        top: 60%; 
        margin-left:-45%;
        transform: translateY(-50%);
        border: none;
        background-color: white;
}
.carousel-control-next3{
    position: absolute; 
    top: 60%; 
    margin-left: -30%;
    transform: translateY(-50%);
    border: none;
    background-color: white;
}

@media screen and (max-width:768px) {
    .carousel-control-prev3{
        position: absolute; 
        top: 108%; 
        margin-left: 30%;
        transform: translateY(-50%);
        border: none;
        background-color: white;
    }
      
      .carousel-control-next3{
        position: absolute; 
        top: 108%; 
        right: 30%;
        z-index: 10;
        transform: translateY(-50%);
        border: none;
        background-color: transparent;
      }
      
}
/* third container css end */


/* join us container container */
.joinUsContainer{
    margin-top: 200px;
} 
.joinUsrow{
    background-color: rgba(170, 169, 169, 0.826);
}